@model emailMarketingNet6.Models.CampaignModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CampaignModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Template)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Template.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactList.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailSendId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailSendId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
